# PY101: Clase 01: Python Básico
## Objetivo
> El objetivo de esta clase es poder comprender las operaciones básicas de Python, y de paso comprender las operaciones básicas de Jupyter Notebook como interface de trabajo

> **Nota**: material adaptado desde *Learning Python3*. Creado por https://gist.github.com/kenjyco

## Contenido
1. Operaciones básicas en Jupyter Notebook
2. Objetos, tipos de datos y variables
3. Operaciones básicas
4. Contenedores Básicos
5. Accediendo a los datos guardados en contenedores
6. Python built-in functions and callables
7. Atributos de los Objetos
    - 7.1 Some methods on string objects
    - 7.2 Some methods on list objects
    - 7.3 Some methods on set objects

## 1. Operaciones comunes en Jupyter Notebook

![](https://miro.medium.com/max/12010/1*qWE8WtlM_pAkUEJ9nzESMQ.png)

## Referencias

- https://try.jupyter.org
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

## 2. Objects, tipos de datos y variables [Python objects, basic types, and variables¶]

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## 3. Operaciones básicas [Basic operators]

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [1]:
# Asignando valores a variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [2]:
# Suma/Addition
num1 + num2

7

In [3]:
# Resta/Subtraction
num2 - num3

-10.41

In [4]:
# Multiplicación/Multiplication
num3 * num4

-4.446

In [5]:
# División/Division
num4 / num5

-0.08571428571428572

In [6]:
# Potencia/Exponent
num5 ** num6

343

In [7]:
# Incremento de una variable ya existente/Increment existing variable
num7 += 4
num7

15.11

In [8]:
# Decrecimiento de una variable existente/Decrement existing variable
num6 -= 2
num6

1

In [9]:
# Multiply & re-assign
print(f'Numero re-asignado: {num3}')

print(f'Si solo multiplicamos:{num3 * 5}')

num3 *= 5
num3

Numero re-asignado: 7.41
Si solo multiplicamos:37.05

37.05

In [10]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [11]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [12]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [13]:
# Is the first expression less than the second expression?
num5 < num6

False

In [14]:
# Is this expression True?
5 > 3 > 1

True

In [15]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [16]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [17]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [18]:
# Notice that the string was not modified
simple_string1

'an example'

In [19]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [20]:
# This string wasn't modified either
simple_string2

'oranges '

In [21]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [22]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [23]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [24]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [25]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

## 4. Contenedores Básicos [Basic Containers]

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [26]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [27]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [28]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [29]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [30]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [31]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [32]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [33]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [34]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## 5. Accediendo a los datos guardados en contenedores [Accessing data in containers]

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [35]:
# Access the first item in a sequence
list1[0]

3

In [36]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [37]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [38]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [39]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [40]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [41]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

## 6. Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [42]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [43]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [44]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [45]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [46]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [47]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [48]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [49]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [50]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [51]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [52]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [53]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [54]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [55]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [56]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'dog', 'cat'}"

## 7. Atributos de los Objetos [Python object attributes (methods and properties)]

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

### 7.1 Métodos para strings [some methods on string objects]

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [57]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [58]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [59]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [60]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [61]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [62]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [63]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [64]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [65]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [66]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [67]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [68]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [69]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [70]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

### 7.2 Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop(index)`** to remove and return an item at an index

In [71]:
# Defining a list to test methods
list_to_try_methods = [1,2,'tres', 'cuatro']

In [72]:
# Append
list_to_try_methods.append('cinco')
list_to_try_methods

[1, 2, 'tres', 'cuatro', 'cinco']

In [73]:
# Extend
to_extend = ['cat', 'dog']
list_to_try_methods.extend(to_extend)
list_to_try_methods

[1, 2, 'tres', 'cuatro', 'cinco', 'cat', 'dog']

In [74]:
# Remove
list_to_try_methods.remove('tres')
list_to_try_methods

[1, 2, 'cuatro', 'cinco', 'cat', 'dog']

In [76]:
# Pop
list_to_try_methods.pop(1)
list_to_try_methods

[1, 'cuatro', 'cinco', 'cat', 'dog']

### Python Sets

In [1]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [2]:
# set do not have duplicates
# Output: {1, 2, 3, 4}
my_set = {1,2,3,4,3,2}
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# If you uncomment line #12,
# this will cause an error.
# TypeError: unhashable type: 'list'

#my_set = {1, 2, [3, 4]}

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

In [3]:
# initialize my_set
my_set = {1,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2,3,4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

### 7.3 Some methods on set objects

- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.pop()`** to remove and return a random item from the set
- **`.difference(set2)`** to return items in the set that are not in another set
- **`.intersection(set2)`** to return items in both sets
- **`.union(set2)`** to return items that are in either set
- **`.symmetric_difference(set2)`** to return items that are only in one set (not both)
- **`.issuperset(set2)`** does the set contain everything in the other set?
- **`.issubset(set2)`** is the set contained in the other set?

### Python Dictionaries

In [12]:
'''
Defining a Dictionary

Dictionaries are Python’s implementation of a data structure that is more generally known as an 
associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair 
maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in 
curly braces ({}). A colon (:) separates each key from its associated value:

d = {
    <key>: <value>,
    <key>: <value>,
    <key>: <value>
}
'''

MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

print(MLB_team)
print(type(MLB_team))

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
<class 'dict'>

### 7.4 Some methods on dict objects

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

## Creating objects from arguments or other objects

The basic types and containers we have used so far all provide **type constructors**:

- `int()`
- `float()`
- `str()`
- `list()`
- `tuple()`
- `set()`
- `dict()`

Up to this point, we have been defining objects of these built-in types using some syntactic shortcuts, since they are so common.

Sometimes, you will have an object of one type that you need to convert to another type. Use the **type constructor** for the type of object you want to have, and pass in the object you currently have.