# PY101: Clase 02: Python Básico
## Objetivo
> El objetivo de esta clase es poder comprender las funcionalidades básicas de Python en Jupyter Notebook.

> **Nota**: material en parte contiene contenido adaptado desde *Learning Python3*. Creado por https://gist.github.com/kenjyco

## Contenido
1. Funciones
2. For Loops
3. If Statements
4. Modulos
5. Proyecto - Otros

## 1. Positional arguments and keyword arguments to callables

You can call a function/method in a number of different ways:

- `func()`: Call `func` with no arguments
- `func(arg)`: Call `func` with one positional argument
- `func(arg1, arg2)`: Call `func` with two positional arguments
- `func(arg1, arg2, ..., argn)`: Call `func` with many positional arguments
- `func(kwarg=value)`: Call `func` with one keyword argument 
- `func(kwarg1=value1, kwarg2=value2)`: Call `func` with two keyword arguments
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: Call `func` with many keyword arguments
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: Call `func` with positonal arguments and keyword arguments
- `obj.method()`: Same for `func`.. and every other `func` example

When using **positional arguments**, you must provide them in the order that the function defined them (the function's **signature**).

When using **keyword arguments**, you can provide the arguments you want, in any order you want, as long as you specify each argument's name.

When using positional and keyword arguments, positional arguments must come first.

In [17]:
# Practice
def no_arguments():
    return('Hi, you "are" all set!')

no_arguments()

'Hi, you "are" all set!'

In [20]:
my_name = 'Cris'

In [28]:
# Concatenate strings: first method (All Python versions)
concat_1 = my_name + ' ' + no_arguments()
print(concat_1)

Cris Hi, you "are" all set!

In [29]:
# Concatenate strings: second method (Python3x and above)
concat_2 = '{} {} {}'.format(my_name, no_arguments(), 'Bienvenide')
print(concat_2)

Cris Hi, you "are" all set! Bienvenide

In [35]:
# Concatenate strings: third method (Python3.6 and above)
concat_3 = f'{my_name} {no_arguments()}'
print(concat_3)

Cris Hi, you "are" all set!

#### One and Two arguments function

In [38]:
def single_arguments(name):
    return f'{name}. Hi, you "are" all set!'

single_arguments('Juana')

'Juana. Hi, you "are" all set!'

In [50]:
def multiple_arguments(name, message):
    return f'{name}. {message}'

print(multiple_arguments('Juana', True))

Juana. True

In [67]:
def multiply_by(num):
    to_result = round(int(num)) * 10
    return to_result

multiply_by(10)

100

## 2. Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

In [68]:
# Practice
list_to_loop_int = [1, 2, 3, 4, 5]
list_to_loop_str = ['Dog', 'Cat', 'Horse', 'Bird', 'Elephant']

In [79]:
for element in list_to_loop_int:
    print(f'El {element} es {type(str(element))}')

El 1 es <class 'str'>
El 2 es <class 'str'>
El 3 es <class 'str'>
El 4 es <class 'str'>
El 5 es <class 'str'>

In [82]:
for element in list_to_loop_str:
    print(f'The {element} is an animal with length of {len(element)}')

The Dog is an animal with length of 3
The Cat is an animal with length of 3
The Horse is an animal with length of 5
The Bird is an animal with length of 4
The Elephant is an animal with length of 8

In [84]:
for element in list_to_loop_str:
    print(f'The {element} is an animal with length of {len(element)}')

The Dog is an animal with length of 3
The Cat is an animal with length of 3
The Horse is an animal with length of 5
The Bird is an animal with length of 4
The Elephant is an animal with length of 8

## 3. Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

In [109]:
def check_animals_names(string_to_check):
    num = 5
    if len(string_to_check) > num:
        result = f'The lenght of {string_to_check} is more than {num}'
        return result
    elif len(string_to_check) == num:    
        result = f'The lenght of {string_to_check} is equal to {num}'
        return result        
    else:
        result = f'The lenght of {string_to_check} is less than {num}'
        return result

In [108]:
for element in list_to_loop_str[0:3]:
    print(check_animals_names(element))

The lenght of Dog is less than 5
The lenght of Cat is less than 5
The lenght of Horse is equal to 5

In [111]:
check_animals_names('Cristian Hernandez')

'The lenght of Cristian Hernandez is more than 5'

In [116]:
# Emilio's Function
def finding_best_place_to_work(proximity, community, mood):
    proximity = near_to_home
    community = people_with_your_same_interest
    mood = focus + networking
    if (proximity, community, mood) == True:
        return 'Come to ZupWork'
    else:
        return 'Go to WePose'
    
# finding_best_place_to_work('Maipu', 'Programmers', 'Productivity')

## 4. Importing modules

In [117]:
# import module
import pandas

In [118]:
# Print documentation
help(pandas)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from '/usr/local...ython3....
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    json = <module 'pandas.json' from '/usr/local/lib/python3.7/site-packa...
    lib = <module 'pandas.lib' from '/usr/local/lib/python3.7/site-package...
    options = <pandas.core.config.DictWrapper object>
    parser = <module 'pandas.parser' from '/usr/local/lib/python3.7/site-p...
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>
    tslib = <module 'pandas.tslib' from '/usr/local/lib/python3.7/site-pac...

VERSION
    0.23.4

FILE
    /usr/local/lib/python3.7/site-packages/pandas/__init__.py

In [121]:
# Print all functions included in module
dir(pandas)

['Categorical',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'ExcelFile',
 'ExcelWriter',
 'Expr',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int64Index',
 'Interval',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseSeries',
 'Term',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt64Index',
 'WidePanel',
 '_DeprecatedModule',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p10',
 '_np_version_under1p11',
 '_np_version_under1p12',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_tslib',
 '_version',
 'api',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'datetools',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'get_store',
 'groupby',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json',
 'lib',
 'lreshape',
 'match',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'parser',
 'period_range',
 'pivot',
 'pivot_table',
 'plot_params',
 'plotting',
 'pnow',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'scatter_matrix',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tools',
 'tseries',
 'tslib',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [124]:
pandas.read_csv('/Users/tremen/Documents/mapoteca/welokat/ATMs/atms_ba_of_newyork.csv')

      No        lat        lon
0      0  40.754262 -73.988420
1      1  40.710333 -74.008017
2      2  40.745576 -73.994769
3      3  40.729769 -73.997900
4      4  40.750500 -73.993470
5      5  40.841420 -73.938986
6      6  40.713250 -74.015224
7      7  40.711700 -74.005820
8      8  40.735599 -73.979715
9      9  40.732973 -74.000325
10    10  40.741540 -73.989770
11    11  40.732938 -73.987681
12    12  40.729077 -74.001047
13    13  40.756687 -73.991654
14    14  40.762943 -73.972419
15    15  40.772063 -73.876150
16    16  40.701258 -74.013083
17    17  40.756818 -73.989852
18    18  40.741340 -74.001640
19    19  40.765119 -73.963888
20    20  40.718970 -73.989251
21    21  40.779308 -73.955536
22    22  40.754968 -73.984205
23    23  40.767591 -73.955935
24    24  40.778540 -73.982200
25    25  40.785150 -73.978650
26    26  40.762920 -73.985660
27    27  40.755730 -73.979528
28    28  40.711279 -74.006381
29    29  40.744893 -73.998740
..   ...        ...        ...
74    74  40.775244 -73.980375
75    75  40.757400 -73.991300
76    76  40.706762 -74.005155
77    77  40.759209 -73.979873
78    78  40.801977 -73.937087
79    79  40.786532 -73.978128
80    80  40.779828 -73.977042
81    81  40.827759 -73.949834
82    82  40.761084 -73.968989
83    83  40.834694 -73.944248
84    84  40.752492 -73.994220
85    85  40.733357 -73.999713
86    86  40.763094 -73.977868
87    87  40.742975 -73.974080
88    88  40.750382 -73.979184
89    89  40.715224 -74.007707
90    90  40.804314 -73.936868
91    91  40.756628 -73.990962
92    92  40.726226 -73.989141
93    93  40.801970 -73.967560
94    94  40.865329 -73.927332
95    95  40.795320 -73.966270
96    96  40.704970 -74.007410
97    97  40.733885 -74.002887
98    98  40.719290 -74.001662
99    99  40.742769 -73.977061
100  100  40.748628 -73.984642
101  101  40.759306 -73.965289
102  102  40.766430 -73.982269
103  103  40.717280 -73.995537

[104 rows x 3 columns]

In [125]:
# Abreviate a module
import pandas as pd

In [136]:
# Practice
df = pd.read_csv('/Users/tremen/Documents/mapoteca/welokat/ATMs/atms_ba_of_newyork.csv')
df.head()
df.tail(1)
df['lat'].head()

0    40.754262
1    40.710333
2    40.745576
3    40.729769
4    40.750500
Name: lat, dtype: float64

In [143]:
# Super Big Huge data
fake_big_data = pd.read_csv('/Users/tremen/Documents/mapoteca/welokat/clients/cchc/predios_cchc_repo/rna_chile.csv', sep=';')

In [144]:
fake_big_data.shape

(7143489, 12)